<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>org.sarandogou.webrtc-everywhere</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BRPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CSResourcesFileMapped</key>
	<string>yes</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014-2016 Doubango Telecom. All rights reserved.</string>
	<key>WebPluginDescription</key>
	<string>WebRTC Everywhere Plug-in for Safari</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>application/webrtc-everywhere</key>
		<dict>
			<key>WebPluginTypeDescription</key>
			<string>WebRTC Everywhere Plug-in for Safari (Main)</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>WebRTC Everywhere Plug-in for Safari</string>
</dict>
</plist>
