/x64
/*.opensdf
/*.sdf
/*.suo
/Debug
/Release
/common/Debug
/common/Release
/common/*.user
/common/x64/Debug
/common/x64/Release
Debug
/ie/Release
/ie/*.user
/ie/x64/Release
/npapi/Release
/npapi/*.user
/npapi/x64/Release
*.ipch
